{{ define "main" }}

<section id="archive">
   
        
            {{ range .Pages }}
                <div class="value">
                  <div class="date">
                    <time datetime="{{ .PublishDate }}">{{ i18n "publishDateShort" . }}</time>
                  </div>
                  <div class="title">
                      <a href="{{ .Permalink }}">
                          {{ .Title }}
                      </a>

                      {{ .Title }}
                      {{ .Title }}
                  </div>
                </div>
            {{ end }}          
        </div>
    


</section>


{{ end }}