
<body id="main">
    <!--head start-->
    <!--fast head start-->
    <header id="head" class="head">
        <div class="container-fluid f-head">
            <div class="row">
                <div class="col-11">
                    <div class="row">
                        <div class="logo col-2">
                            <a href="/"> <img class="logo-img" src="{{ .Site.BaseURL }}/img/logo.png" alt="logo"></a>

                        </div>
                        <div class="search-box col-6">
                            <p>welcome, best search video here</p>
                            <form action="">
                                <input type="search" name="Search" class="s-input" id="Search">
                                <input type="submit" class="s-btn" value="Search">
                            </form>
                        </div>
                    </div>

                </div>
                <div class="col-1 night-day">
                    <i onclick="moon()" class="fa-solid fa-moon moon" id="moon"></i>
                    <i onclick="sun()" class="fa-solid fa-sun sun" id="sun"></i>

                </div>

            </div>
        </div>
        <!--fast head end-->

        <!--second head start-->
        <div class="container-fluid nav-menu">
            <div class="row menu-items">
                <div class="col-1 nav-items-item">
                    <a href="#">one</a>
                </div>
                <div class="col-1 nav-items-item">
                    <a href="#">two</a>
                </div>
                <div class="col-1 nav-items-item">
                    <a href="#">three</a>
                </div>
                <div class="col-1 nav-items-item">
                    <a href="#">four</a>
                </div>
                <div class="col-1 nav-items-item">
                    <a href="#">five</a>
                </div>
                <div class="col-1 nav-items-item">
                    <a href="#">six</a>
                </div>
                <div class="col-1 nav-items-item">
                    <a href="#">seven</a>
                </div>
                <div class="col-1 nav-items-item">
                    <a href="#">eight</a>
                </div>
            </div>
        </div>
        <!--second head start-->

    </header>

    <!--head end-->

 

